/* Stylesheet for vivek.one */
/*
	Contents
	--------
		Basic
		Navigator
		Content
		Section
		Other
*/

/*-------------------------------*/

/*************** Basic ***************/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

/*************** Navigator ***************/

nav {
  position: fixed;
  z-index: 1000; 
}

@media (min-width: 1200px) {
  nav {
    top: 35px;
    left: 35px;
	transition: all .3s 
  }
  
  nav a {
	display: block;
	width: 130px;
	height: 30px;
	padding: 20px 10px;
	font-size: 1.5em; 
  }
  
  nav  #logo {
    background: none;
	display: block;
	width: 130px;
	height: 120px;
	background-image: url("logos/vbo.png");
	background-size: contain;
	background-repeat: no-repeat;
  }
  
  nav:hover {
	transition: all .3s;
  }
}

@media (max-width: 1200px) {
  nav {
	top: 0px;
	left: 0px;
    width: 100%;
	text-align: center; 
  }
  
  nav a {
	display: inline-block;
	width: auto;
	height: 40px;
	padding: 2px 20px;
	font-size: 1.7em;
  }
  
  nav  #logo {
	display: inline-block;
    background: none;
	padding: 2px 2px;
	width: 40px;
	height: 40px;
	background-image: url("logos/vbo.png");
	background-size: contain;
	background-repeat: no-repeat;
  }
}

nav a {
	text-align: center;
	vertical-align: top;
	font-family: "Quicksand", Helvetica, sans-serif;
	text-decoration: none;
	font-weight: 400;
	transition: all .5s;
	background-color: #000;
	color: #fff; 
}

nav a:hover, nav a:active {
  background-color: #fff;
  color: #000; 
}

/*************** Content ***************/

@media (max-width: 1200px) {
	.content {
	  width: 100%;
	  height: 100%;
	  margin: auto;
	  text-align: center;
	}
}

@media (min-width: 1200px) {
  .content {
    width: calc(100%-400px);
	height: 100%;
	margin: auto;
	text-align: center;
  } 
}

section {
  font-size: 18px;
  height:100%;
}

  #home {
  background-color: #A7DBD8;
} #blog {
  background-color:  #E0E4CC;
} #projects {
  background-color:  #F38630;
} #contact {
  background-color:  #FA6900;
}

@media (max-width: 1200px) {
    section {
      font-size: 21px;
      line-height: 1.5em; 
	}
	
    section .content {
      padding: 50px 0; 
	} 
}

#signature {
	width:65%;
	vertical-align:middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.content h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

/*************** Other ***************/




























