/* Stylesheet for vivek.one */
/*
	Contents
	--------
		Basic
		Navigator
		Home
		Other
*/

/*-------------------------------*/

/* Basic */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

/* Navigator */

nav {
  position: fixed;
  z-index: 1000; 
}

@media (min-width: 900px) {
  nav {
    top: 35px;
    left: 35px;
    opacity: 2.0; 
  }
  
  nav a {
	display: block;
	width: 130px;
	height: 30px;
	padding: 20px 10px;
	font-size: 1.5em; 
  }
  
  nav  #logo {
    background: none;
	display: block;
	width: 130px;
	height: 120px;
	background-image: url("logos/vbo.png");
	background-size: contain;
	background-repeat: no-repeat;
  }
}

@media (max-width: 900px) {
  nav {
	top: 0px;
	left: 0px;
    width: 100%;
	text-align: center; 
  }
  
  nav a {
	display: inline-block;
	width: auto;
	height: 20px;
	padding: 5px 5px;
	font-size: 0.9em;
  }
  
  nav  #logo {
	display: inline-block;
    background: none;
	width: 20px;
	height: 20px;
	background-image: url("logos/vbo.png");
	background-size: contain;
	background-repeat: no-repeat;
  }
}

nav a {
	text-align: center;
	vertical-align: top;
	font-family: "Quicksand", Helvetica, sans-serif;
	text-decoration: none;
	font-weight: 400;
	transition: all 0.5s;
	background-color: #000;
	color: #fff; 
}

nav a:hover, nav a:active {
  background-color: #fff;
  color: #000; 
}

/* Home */

#outer {
  height:200%;
  width:100%;
  position:relative;
}

/* Other */




























